@import url('./fonts.css');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.page-control:hover, .nav-item:hover {
    cursor: pointer;
}